        * {
            overflow-x: hidden;
            font-family: 'Concert One', cursive;
        }
        /* style home */
        
        .gambar-awan {
            width: 180px;
            position: absolute;
            top: 350px;
            left: 80px;
        }
        
        .gambar-awan-1 {
            position: absolute;
            width: 180px;
            top: 180px;
            left: 20px;
        }
        
        .gambar-awan-2 {
            position: absolute;
            width: 180px;
            top: 290px;
            left: 320px;
        }
        
        .gambar-awan-3 {
            position: absolute;
            width: 180px;
            top: 180px;
            left: 350px;
        }
        
        .img-home {
            width: 600px;
            margin-top: 100px;
            margin-left: 80px;
        }
        
        .nama-store {
            margin-top: 200px;
            font-size: 60px;
            color: #fff;
            margin-left: 50px;
        }
        
        .deskripsi-1 {
            font-size: 25px;
            color: #fff;
            margin-left: 50px;
        }
        
        .learnmore {
            color: black;
            text-decoration: none;
            font-size: 24px;
        }
        
        .pembungkus {
            background-color: #fff;
            width: 200px;
            height: 40px;
            border-radius: 20px;
            text-align: center;
            margin-top: 25px;
            margin-left: 50px;
        }
        /* sytle about */
        
        .judul-about {
            font-size: 65px;
            color: #fff;
            text-align: center;
            margin-top: -20px;
        }
        
        .keterangan-1 {
            font-size: 24px;
            color: #fff;
            width: 500px;
        }
        
        .keterangan-about {
            font-size: 30px;
            color: #fff;
        }
        /* style product */
        
        .judul-product {
            font-size: 60px;
            color: #fff;
            text-align: center;
            margin-top: -20px;
        }
        
        .keterangan-2 {
            font-size: 30px;
            text-align: center;
            width: 600px;
            margin-left: 255px;
            color: #fff;
            margin-bottom: 100px;
        }
        
        .shopee {
            font-size: 50px;
            color: #fff;
            text-align: center;
            margin-top: 80px;
        }
        
        .deskripsi-shopee {
            color: #fff;
            font-size: 20px;
            text-align: center;
        }
        
        .visit-shopee {
            color: #000;
            text-decoration: none;
            font-size: 25px;
            margin-left: 37px;
        }
        
        .img-shopee {
            width: 500px;
            margin-top: 60px;
            margin-left: 30px;
        }
        
        .pembungkus-1 {
            background-color: #fff;
            width: 150px;
            height: 40px;
            border-radius: 20px;
            justify-content: center;
            margin-left: 195px;
        }
        
        .tokopedia {
            font-size: 50px;
            color: #fff;
            text-align: center;
            margin-top: 80px;
        }
        
        .deskripsi-tokopedia {
            font-size: 20px;
            color: #fff;
            text-align: center;
        }
        
        .pembungkus-2 {
            background-color: #fff;
            width: 150px;
            height: 40px;
            border-radius: 20px;
            margin-left: 200px;
        }
        
        .visit-tokopedia {
            color: #000;
            font-size: 25px;
            text-decoration: none;
            margin-left: 37px;
        }
        
        .img-tokopedia {
            width: 500px;
        }
        
        .jasapower-point {
            font-size: 50px;
            color: #fff;
            text-align: center;
            margin-top: 100px;
        }
        
        .deskripsi-jasapowerpoint {
            color: #fff;
            font-size: 20px;
            text-align: center;
        }
        
        .pembungkus-3 {
            background-color: #fff;
            width: 150px;
            height: 40px;
            border-radius: 20px;
            margin-left: 190px;
        }
        
        .comingsoon-1 {
            color: #000;
            text-decoration: none;
            font-size: 20px;
            margin-left: 20px;
            text-align: center;
            line-height: 38px;
        }
        
        .img-powerpoint {
            width: 550px;
            margin-left: 20px;
        }
        
        .top-up {
            font-size: 50px;
            color: #fff;
            text-align: center;
            margin-top: 100px;
            margin-left: 85px;
        }
        
        .deskripsi-top-up {
            text-align: center;
            color: #fff;
            font-size: 20px;
            margin-left: 85px;
        }
        
        .pembungkus-4 {
            background-color: #fff;
            width: 150px;
            height: 40px;
            border-radius: 20px;
            margin-left: 245px;
        }
        
        .comingsoon-2 {
            text-decoration: none;
            color: #000;
            font-size: 20px;
            line-height: 38px;
            margin-left: 20px;
        }
        
        .img-top-up {
            width: 500px;
            margin-top: 50px;
        }
        /* style contact */
        
        .gambar-contact {
            width: 500px;
        }
        
        .judul-contact {
            font-size: 50px;
            color: #fff;
        }
        
        .deskripsi-contact {
            color: #fff;
            font-size: 20px;
        }
        
        .instagram {
            color: #fff;
            font-size: 50px;
            text-decoration: none;
        }
        
        .whatsapp {
            color: #fff;
            font-size: 50px;
        }
        /* responsive webisite */
        
        @media (max-width: 768px) {
            .row {
                overflow-x: hidden;
            }
            .container-home {
                overflow-x: hidden;
            }
            .img-home {
                width: 370px;
                margin-left: 10px;
                margin-top: 80px;
                overflow-x: hidden;
            }
            .nama-store {
                margin-top: -10px;
                margin-left: 10px;
            }
            .deskripsi-1 {
                margin-left: 10px;
            }
            .gambar-awan {
                width: 100px;
                top: 260px;
                left: 10px;
            }
            .gambar-awan-1 {
                width: 120px;
                left: 120px;
            }
            .gambar-awan-2 {
                width: 120px;
                top: 222px;
                left: 230px;
            }
            .gambar-awan-3 {
                margin-left: -100px;
                width: 100px;
                opacity: 0%;
            }
            .pembungkus {
                margin-left: 10px;
            }
            .keterangan-about {
                text-align: center;
            }
            .judul-about {
                margin-top: 30px;
            }
            .keterangan-1 {
                width: 320px;
                text-align: center;
            }
            .gambar-about {
                width: 400px;
                margin-left: -35px;
            }
            .keterangan-2 {
                width: 300px;
                margin-left: 10px;
                font-size: 20px;
            }
            .shopee {
                margin-top: -10px;
            }
            .pembungkus-1 {
                margin-left: 90px;
            }
            .img-shopee {
                width: 300px;
                margin-left: 10px;
                overflow-x: hidden;
            }
            .img-tokopedia {
                opacity: 1;
                position: absolute;
                overflow-x: hidden;
                width: 1px;
                opacity: 0%;
            }
            .tokopedia {
                margin-top: 50px;
            }
            .pembungkus-2 {
                margin-left: 90px;
                margin-top: 10px;
            }
            .pembungkus-3 {
                margin-left: 90px;
                margin-top: 30px;
            }
            .img-powerpoint {
                width: 350px;
                margin-left: -15px;
                margin-top: 30px;
                overflow-x: hidden;
            }
            .img-top-up {
                position: absolute;
                opacity: 1;
                overflow-x: hidden;
                width: 1px;
                opacity: 0%;
            }
            .top-up {
                margin-left: 10px;
                margin-top: 20px;
            }
            .deskripsi-top-up {
                margin-left: 10px;
            }
            .pembungkus-4 {
                margin-left: 90px;
            }
            .gambar-contact {
                width: 300px;
                overflow-x: hidden;
            }
        }