body {
    height: 2000px;
    overflow-x: hidden;
    background-color: #fff;
}


/* style kategori */

.name-kategori {
    font-size: 30px;
    color: rgb(6, 6, 6);
    font-family: monospace;
    text-align: center;
    margin-top: 50px;
    font-family: 'Fredoka One', cursive;
    margin-left: 10px;
}


/* style icons */

.icons {
    margin-left: 60px;
    margin-top: 2rem;
}

.tas {
    width: 70px;
    margin-top: -5px;
}

.baju {
    width: 65px;
}

.sepatu {
    width: 80px;
    margin-top: 15px;
}

.elektronik {
    width: 50px;
    margin-top: 10px;
}

.alattulis {
    width: 45px;
}

.jamtangan {
    width: 40px;
    margin-top: 3px;
}


/* responsive */

@media only screen and ( max-width:400px) {
    body {
        overflow-x: hidden;
    }
    .garis {
        overflow-x: hidden;
    }
    #kategori {
        overflow-x: hidden;
    }
    .icons {
        margin-left: 0px;
        overflow-x: hidden;
    }
    .tas {
        margin-left: -80px;
    }
    .elektronik {
        margin-left: -70px;
        margin-top: 30px;
    }
    .alattulis {
        margin-left: -60px;
        margin-top: 23px;
    }
    .jamtangan {
        margin-left: -45px;
        margin-top: 22px;
    }
    .baju {
        margin-left: -70px;
    }
    .sepatu {
        margin-left: -65px;
    }
    #kategori {
        margin-top: -40px;
    }
    .garis {
        margin-left: -1px;
        background-color: black;
    }
}