body {
    background-color: #fff;
    height: 2000px;
}

.iklan {
    margin-top: 40px;
}


/* icons */

.jenis-product {
    margin-top: 200px;
    margin-left: 390px;
}

.kotak-1 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.kotak-2 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.kotak-3 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.kotak-4 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.kotak-5 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.kotak-6 {
    width: 100px;
    height: 100px;
    background-color: red;
}


/* product */

.product {
    margin-top: 100px;
}

.box-1 {
    width: 250px;
    height: 280px;
    background-color: red;
}

.box-2 {
    width: 250px;
    height: 280px;
    background-color: red;
}

.box-3 {
    width: 250px;
    height: 280px;
    background-color: red;
}

.box-4 {
    width: 250px;
    height: 280px;
    background-color: red;
}

.box-5 {
    margin-top: 20px;
    width: 250px;
    height: 280px;
    background-color: red;
}

.box-6 {
    margin-top: 20px;
    width: 250px;
    height: 280px;
    background-color: red;
}

.box-7 {
    margin-top: 20px;
    width: 250px;
    height: 280px;
    background-color: red;
}

.box-8 {
    margin-top: 20px;
    width: 250px;
    height: 280px;
    background-color: red;
}

.box-9 {
    margin-top: 20px;
    width: 250px;
    height: 280px;
    background-color: red;
}


/* responsive */


/* hp */

@media only screen and (min-width: 393px) {
    .jenis-product {
        margin-left: 43px;
    }
    .kotak-3 {
        margin-top: 20px;
    }
    .kotak-4 {
        margin-top: 20px;
    }
    .kotak-5 {
        margin-top: 20px;
    }
    .kotak-6 {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 412px) {
    .jenis-product {
        margin-left: 43px;
    }
    .kotak-3 {
        margin-top: 20px;
    }
    .kotak-4 {
        margin-top: 20px;
    }
    .kotak-5 {
        margin-top: 20px;
    }
    .kotak-6 {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 414px) {
    .jenis-product {
        margin-left: 43px;
    }
}

@media only screen and ( max-width: 360px) {
    .jenis-product {
        margin-left: 30px;
        margin-top: 40px;
    }
    .kotak-3 {
        margin-top: 20px;
    }
    .kotak-4 {
        margin-top: 20px;
    }
    .kotak-5 {
        margin-top: 20px;
    }
    .kotak-6 {
        margin-top: 20px;
    }
}

@media only screen and ( min-width: 688px) {
    .jenis-product {
        margin-left: 130px
    }
}

@media only screen and ( min-width: 1000px) {
    .jenis-product {
        margin-left: 134px;
    }
    .kotak-3 {
        margin-top: 0px;
    }
    .kotak-4 {
        margin-top: 0px;
    }
    .kotak-5 {
        margin-top: 0px;
    }
    .kotak-6 {
        margin-top: 0px;
    }
}